<h1>WOD一覧</h1>
<br><br>
<h2>WODを検索</h2>
<%= search_form_for @q do |f| %>
  <div class="form-group row">
      <%= f.label :date, "日付", class: 'col-2 col-form-label' %>
      <div class="col-10">
        <%= f.date_field :date_eq, class: 'form-control' %>
      </div>
  </div>
  <div class="form-group row">
    <%= f.label :content, "内容", class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= f.search_field :content_i_cont, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit '検索', class: 'btn btn-dark btn-block' %>
<% end %>
<br><br>
<h2>ヒットしたWOD</h2>
<% if @wod.present? %>
  <%= render 'shared/wod_detail', wod: @wod %>

  <br><br>
  <div class="text-right">
    <%= link_to 'WOD詳細 >', wod_path(@wod), class: 'btn btn-secondary' %>
  </div>
<% else %>
  該当するWODはありません。
<% end %>
